.card {
  display: inline-block;
  text-align: center;
  width: 2em;
  font-size: 1em;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
 }

 .activeCard {
  color: rgb(9, 9, 112);
  background: rgb(31, 221, 212);
 }
 